*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url("../html-css/resources/Background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: "Gotham black";
    font-size: 14px;
    font-weight: 200;
}

a{
    text-decoration: none;
}


nav{
    position: fixed;
    background-color: rgba(2, 5, 16, 0.9);
    text-align: center;
    height: 65px;
    width: 100%;
}
nav ul{
    display: inline-block;
}  
ul{
    list-style: none;
}

nav ul li{
    padding-top: 23.5px;
    font-size: 18px;
    margin-right: 20px;
}

#logo{
    padding-top: 0px;
    position: center;
}

h2{
    line-height: 36px;
    font-size: 36px;
}

h3{
    font-size: 18px;
}

p{
    text-align: justify;
}

cite{
    font-weight: 300;
}

section{
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#HOME {
    background-color: rgba(10, 18, 35, 0.8);
    min-height: 160px;
    padding-top: 80px;
}

.hashtag {
    font-size: 14px;
    color: rgb(255, 222, 0);
    margin-left: 10px;
    margin-top: 5px;
}

#social {
    margin-top: 30px;
    font-size: 30px;
}

i:hover {
    color: #2e4877;
}
a:any-link {
    text-decoration: none;
    color: white;
}

a:-webkit-any(){
    text-decoration: none;
    color: white;
}

a:-moz-any-link {
    text-decoration: none;
    color: white;
}

a:hover{
    color: #2e4877;
}

li {
    float : left;
    margin-right: 15px;
}

#ABOUT {
    background-color: rgba(241, 241, 241, 0.9);
    color: #2e4877;
}

.pp {
    mix-blend-mode: linear-burn;
    box-shadow: 0px 5px 32.66px 13.34px rgba(0, 0, 0, 0.17);
    
}

#PORTFOLIO {
    background-color: rgba(10, 18, 35, 0.8);
    color: white;
    
}

.portfoliorows {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.card {
    border-radius: 10px;
    background-color: rgba(8, 42, 101, 0.8);
    width: 138px;
    height: 166px;
    padding-top: 10px;
}

.card:hover {
    background-color: rgb(8, 42, 101);
}

.card img {
    width: 100px;
    height: 100px;
    margin-left: 20px;
    mix-blend-mode: screen;
}
.card h3 {
    margin-top: 5px;
    font-size: 18px;
    text-align: center;
}

/*.otra forma de hacerlo
card .moreinfo button{
    width : 100px;
    border: none;
    background-color: whitesmoke;
    border-radius: 5px;
    color: rgb(46, 72, 119);
    font-size: 14px;
    text-align: center;
    font-family: "Gotham black";
    margin-top: 10px;
    margin-left: 20px;
    box-shadow: 0px 5px 32.66px 13.34px rgba(0, 0, 0, 0.17);
}*/

#mi {
    width : 100px;
    height: 25px;
    border: none;
    background-color: whitesmoke;
    border-radius: 10px;
    color: rgb(46, 72, 119);
    font-size: 14px;
    text-align: center;
    font-family: "Gotham black";
    margin-top: 5px;
    margin-left: 20px;
    box-shadow: 0px 5px 32.66px 13.34px rgba(0, 0, 0, 0.17);
}

#mi:hover {
    background-color: rgb(46, 72, 119);
    color: white;
}



#EXPERIENCE {
    background-color: rgba(241, 241, 241, 0.9);
    color: #2e4877;

}




